@model IEnumerable<AutoParts.UI.Painel.Models.ServicoVM>

@{
    ViewBag.Title = "Serviços";
}
<p>
    <ul class="breadcrumb">
        <li>
            <i class="glyphicon glyphicon-cog"></i> Serviços
        </li>
        <li>
            <a href="@Url.Action("Salvar")" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
        </li>
    </ul>
</p>

@using (Html.BeginForm())
{
    <input id="upload" data-upload-id="0" data-upload-entidade="Servico" type="file" style="display: none;" />
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#" onclick="uploadImageProfile(@item.ServicoId);">
                                <div class="media-object img-profile">
                                    <img src="@item.Imagem" data-upload-id="@item.ServicoId" style="width: 100%;" alt="@Html.DisplayFor(modelItem => item.Nome)" data-toggle="tooltip" title="Alterar Imagem">
                                </div>
                            </a>
                        </div>
                        <div class="media-body media-middle">
                            <h4 class="media-heading"><a href="@Url.Action("Salvar", new { id = item.ServicoId })"><strong>@Html.DisplayFor(modelItem => item.Nome)</strong></a></h4>
                            <p>
                                @Html.Raw(item.Descricao)
                            </p>
                            <p>
                                <span class="h3">@Html.DisplayFor(modelItem => item.Valor)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>