@model IEnumerable<AutoParts.UI.Web.Areas.Painel.Models.UsuarioVM>

@{
    ViewBag.Title = "Usuários";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}

<p>
    <ul class="breadcrumb">
        <li>
            <i class="glyphicon glyphicon-user"></i> Usuários
        </li>
        <li>
            <a href="@Url.Action("Salvar")" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
        </li>
    </ul>
</p>

@using (Html.BeginForm())
{
    <input id="upload" data-upload-id="0" data-upload-entidade="Usuario" type="file" style="display: none;" />
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#" onclick="uploadImageProfile(@item.UsuarioId);">
                                <div class="media-object img-profile-sm">
                                    <img src="../@item.Imagem" data-upload-id="@item.UsuarioId" style="width: 100%;" alt="@Html.DisplayFor(modelItem => item.Login)" data-toggle="tooltip" title="Alterar Imagem">
                                </div>
                            </a>
                        </div>
                        <div class="media-body media-middle text-center">
                            <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Nome)</h4>
                            <a href="@Url.Action("Salvar", new { id = item.UsuarioId })">
                                <strong>@@@Html.DisplayFor(modelItem => item.Login)</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>